In [287]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [330]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t'
def func(f):
    df=pd.DataFrame()
    for i in range(505,713):
        try:
            url=str(f)+f'{i}'
        except:
            None

        html = requests.get(url)
        soup= BeautifulSoup(html.content, "html.parser")
        h=soup.findAll('p')[2:-5]
        x= soup.findAll("h2")[0].getText()
        H=[i.getText().split(':') for i in h]
        Lista=[]
        try:
            for i in H:
                if len(i) ==2:
                    Lista.append(i)

            for i in Lista:
                if '(' in i[0]:
                    i[0].split(')')[1]
        except:
            'IndexError: list index out of range'
        df1=pd.DataFrame(Lista)
        df1['temporada']= x[0:2]
        df1['episodio']=x[3:5]
        df1['nombre_episodio']=x.split('-')[1]
        df= pd.concat([df,df1])
    return df

In [331]:
df3=func('https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11')

In [332]:
df3

,0,1,temporada,episodio,nombre_episodio
0,Ted,"Yeah, that's right...a limo.",01,11,The Limo
1,Robin,"Oh, man, Ted, this is great.",01,11,The Limo
2,Ted,"Okay, people, let's talk strategy. Last new y...",01,11,The Limo
3,Barney,Question?,01,11,The Limo
4,Ted,"Yes, Barney, your submissions were received a...",01,11,The Limo
...,...,...,...,...,...
192,Ted,"I mean, if either one of us had even the slig...",06,11,The Mermaid Theory
193,Zoey,No. Do you?,06,11,The Mermaid Theory
194,Ted,No.,06,11,The Mermaid Theory
195,Sailor #1,Still no sign of land.,06,11,The Mermaid Theory
196,Sailor #2,It's been 243 days since we've seen another l...,06,11,The Mermaid Theory

In [333]:
df3['frase']= df3[1]
df3['personaje']=df3[0]
df3.drop(1, inplace=True, axis=1)
df3.drop(0, inplace=True, axis= 1)

In [334]:
def change(x):
    if x == 'Future Ted VO': #
        return 'Future Ted(Narrator)'
    elif x== 'Ted (2030)':
        return 'Future Ted(Narrator)'
    elif x== 'Ted (voix off)':
        return 'Future Ted(Narrator)'
    elif x== 'Ted from 2030':
        return 'Future Ted(Narrator)'
    elif x== 'NARRATOR':
        return 'Future Ted(Narrator)'
    elif x== 'Narrator':
        return 'Future Ted(Narrator)'
    elif x== 'BARNEY':
        return 'Barney'
    elif x== 'TED':
        return 'Ted'
    elif x== 'MARSHALL':
        return 'Marshall'
    elif x== 'ROBIN':
        return 'Robin'
    elif x== 'LILY':
        return 'Lily'
    elif x== 'Waitress':
        return 'Wendy'
    else:
        return x

In [335]:
df4=df3

In [336]:
df4['personaje']= df4['personaje'].apply(change)

In [337]:
df4 = df4[df4.groupby('personaje').personaje.transform(len) > 20]

In [338]:
df4.groupby(['personaje']).count()[50:100]

              temporada  episodio  nombre_episodio  frase
personaje
Robin              3971      3971             3971   3971
Sandy                34        34               34     34
Sarah                21        21               21     21
Simon                27        27               27     27
Stella              222       222              222    222
Stuart               25        25               25     25
Student              28        28               28     28
Ted                6349      6349             6349   6349
Ted's father         34        34               34     34
Ted's mother         44        44               44     44
Tony                 39        39               39     39
Trudy                44        44               44     44
Victoria            148       148              148    148
Voice                27        27               27     27
Waiter               23        23               23     23
Wendy                67        67               67     67
Woman               222       222              222    222
Zoey                189       189              189    189

In [339]:
df4

,temporada,episodio,nombre_episodio,frase,personaje
0,01,11,The Limo,"Yeah, that's right...a limo.",Ted
1,01,11,The Limo,"Oh, man, Ted, this is great.",Robin
2,01,11,The Limo,"Okay, people, let's talk strategy. Last new y...",Ted
3,01,11,The Limo,Question?,Barney
4,01,11,The Limo,"Yes, Barney, your submissions were received a...",Ted
...,...,...,...,...,...
190,06,11,The Mermaid Theory,"Yeah, he's a creepy dude. But I like him. And...",Ted
191,06,11,The Mermaid Theory,"Me, too.",Zoey
192,06,11,The Mermaid Theory,"I mean, if either one of us had even the slig...",Ted
193,06,11,The Mermaid Theory,No. Do you?,Zoey
194,06,11,The Mermaid Theory,No.,Ted

In [340]:
len(df4.nombre_episodio.unique())

200

In [341]:
df5=df4

In [342]:
df5['frase']=[re.sub(r'\([^)]*\)', '', i) for i in df5.frase]

<ipython-input-342-29ca218d6a28>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['frase']=[re.sub(r'\([^)]*\)', '', i) for i in df5.frase]

In [322]:
for i in df5.frase:
    if '(' in i:
        print(i)

In [343]:
df5

,temporada,episodio,nombre_episodio,frase,personaje
0,01,11,The Limo,"Yeah, that's right...a limo.",Ted
1,01,11,The Limo,"Oh, man, Ted, this is great.",Robin
2,01,11,The Limo,"Okay, people, let's talk strategy. Last new y...",Ted
3,01,11,The Limo,Question?,Barney
4,01,11,The Limo,"Yes, Barney, your submissions were received a...",Ted
...,...,...,...,...,...
190,06,11,The Mermaid Theory,"Yeah, he's a creepy dude. But I like him. And...",Ted
191,06,11,The Mermaid Theory,"Me, too.",Zoey
192,06,11,The Mermaid Theory,"I mean, if either one of us had even the slig...",Ted
193,06,11,The Mermaid Theory,No. Do you?,Zoey
194,06,11,The Mermaid Theory,No.,Ted

In [344]:
df5.to_csv('HowIMet.csv')

In [345]:
df5.to_csv('HowIMet2.csv', index=False)

In [347]:
engine.execute(f"INSERT INTO Personaje (Name) VALUES ('{df5.personaje}');")

NameError: name 'engine' is not defined